body{
  /*background-color: #DECADE*/
  background-color: #1E90FF;
  color: #FFFFE0;
}
h1,h2,h3,#notes,#articles {
  text-align: center;
}
h1,h2 {
  color: gold;
}
h3 {
  color: silver;
}
button {
  display: block;
  margin: 0 auto;
}
#wrapper{
  width:960px;
  margin: 0 auto;
  padding-top: 5%;
}
#notesForm{
  width:30%;
  float:left;
}
#articles{
  width:30%;
  float:left;
  overflow: auto;
  margin-left: 20px;
  margin-right: 20px;
}
#notesHeader{
  width:30%;
  float:left;
}
textarea, input{
  display:block;
  width:100%;
  background-color: #00BFFF;
  color: white;
}
input{
  height:36px;
  font-size: 24px;
}
textarea{
  height:200px;
  font-size: 18px;
}
